@model RoomAllocation.Models.Room

@{
    ViewBag.Title = "Delete - Room";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this room's details?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.room_RID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_RID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room_blockName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_blockName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room_floorNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_floorNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.room_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_cost)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
