@model RoomAllocation.Models.User

@{
    ViewBag.Title = "Details-Mind";
}

<h2>Details of Mind</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_mid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_mid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_trackName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_trackName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
